@media(max-width: 374px) {
  .container, .input-width-message, .text-about, .btn-width-booking, .width-565 {
    width: $container-width - 50 * $padding;
  }

  h2 {
    font-size: 30px;
  }
  
  .heading {
    font-size: $font-size-h1 / 3.05;
  }

  .position-line-675px-right, .position-line-699px-right  {
    left: 130px;
  }

  .position-line-675px-left, .position-line-699px-left  {
    right: 130px;
  }

  .frame {
    width: 150.78px;
    height: 150.78px;
    border: 11.22px solid $secondary-color;
  }

  #about-us .position-frame {
    margin-left: 128.78px;
  }

  #our-team .position-frame {
    margin-left: 0;
  }

  .frame-booking {
    width: 136.43px;
    height: 136.43px;
    border: 11.22px solid $secondary-color;
  }

  .frame-specialties {
    width: 150px;
    height: 158.66px;
    border: 11.22px solid $secondary-color;
  }	

  #specialties .position-frame {
    margin-left: 0;
  }

  .menu-section {
    width: 70px;
  }

  .position-frame-left {
    margin-left: 0;
  }

  .position-frame-right {
    margin-left: 130px;
  }

  .position-text-left {
    margin-top: -94.5px;
  }

  .position-text-right {
    margin-top: -94.5px;
  }

  .galerie-photo-1, .galerie-photo-2, .galerie-photo-3, .galerie-photo-4 {
    width: 320px;
    height: 320px;
  }

  .maps {
    background: no-repeat  top 0 left -500px url(../images/mapsdirectionspart.png);
    width: 100%;
  }

  .ml-53 {
    margin-left: 0;
  }

  .ml-53-sm {
    margin-left: 0;
  }
}
