@media(max-width: 1279px) {
  .container, .input-width-message {
    width: $container-width - 15 * $padding;
  }

  .heading {
    font-size: $font-size-h1 / 1.3;
  }

  .maps {
    height: 337.78px;
  }

  .galerie-photo-1, .galerie-photo-2, .galerie-photo-3, .galerie-photo-4 {
    width: 256px;
    height: 256px;
  }

  .section-img {
    height: 295px;
    width: 295px;
  }

  .frame {
    width: 177.78px;
    height: 177.78px;
    border: 14.22px solid $secondary-color;
  }

  #about-us .position-frame {
    margin-top: 58.61px;
    margin-left: 174.58px;
  }

  #our-team .position-frame {
    margin-top: 58.61px;
  }

  .mt-162 {
    margin-top: 29.3px;
  }

  .frame-booking {
    width: 161.43px;
    height: 161.43px;
    border: 14.22px solid $secondary-color;
  }

  #booking {
    .position-frame {
      margin-top: 66.78px;
      margin-left: 174.58px;
    }

    .mt-162 {
      margin-top: 55px;
    }
  }

  .frame-specialties {
    width: 177.78px;
    height: 187.66px;
    border: 14.22px solid $secondary-color;
}

  #specialties .position-frame {
    margin-top: 58.61px;
  }

  .position-frame-left {
    margin-top: 58.61px;
    margin-left: -53.18px;
  }

 .position-frame-right {
   margin-top: 58.61px;
   margin-left: 171.18px;
 }

 .text-vertical {
   width: 243.5px;
   height: 57px;
   font-size: 20px;
 }

 .position-text-left {
   margin-top: -117.5px;
   margin-left: 119px;
 }

  .position-text-right {
    margin-top: -117.5px;
    margin-left: -67.5px;
  }

 .line-vertical-675px {
   width: 400px;
 }

  .position-line-675px-left {
    top: 189px;
  }

  .position-line-675px-center {
    top: 191px;
  }

  .position-line-675px-right {
    top: 194px;
  }

  .maps {
    background: no-repeat left -50px url(../images/mapsdirectionspart.png);
  }

  .mt--78 {
    margin-top: 10px;
  }

  .mt-80-lg {
    margin-top: 80px;
  }

  .mb-29-lg {
    margin-bottom: 29px;
  }

  .mx-auto-lg {
    margin-right: auto;
    margin-left: auto;
  }

  .flex-direction-column-lg {
    display: flex;
    flex-direction: column;
  }

  .justify-content-between-lg {
    display: flex;
    justify-content: space-between;
  }

  .order-0-lg {
    order: 0;
  }

  .order-1-lg {
    order: 1;
  }

  .order-2-lg {
    order: 2;
  }
}
