$primary-color: #fff;
$secondary-color: #e8c300;
$bg-input-btn: #e5e5e5;

$container-width: 1280px;
$padding: 20px;

$font-size-h1: 96px;

@font-face {
  font-family: 'Banny';
  src: url(../fonts/elements-banny-sans-serif-font-family-CVYVFM-2018-07-03/Web%20Font%20Kit/Banny-Round.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
